policy_module(zabbix-agent,1.0)

require {
	type zabbix_agent_t;
}

#============= zabbix_agent_t ==============
allow zabbix_agent_t self:process setrlimit;
allow zabbix_agent_t self:unix_dgram_socket create;
logging_send_syslog_msg(zabbix_agent_t)
