module zabbix-server-ipc 1.0;

require {
	type tmp_t;
	type zabbix_t;
	class sock_file { create write };
	class unix_stream_socket connectto;
}

#============= zabbix_t ==============

allow zabbix_t self:unix_stream_socket connectto;

allow zabbix_t tmp_t:sock_file { create write };
